.outer_container {
    position: relative;
    height: 500px;
    overflow: hidden;
  }
  .inner_container,
  .inner_container2 {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  /* Define the animation separately for each inner container */
  .inner_container {
    animation: moveUp1 15s infinite linear;
  }
  .inner_container2 {
    animation: moveUp2 12s infinite linear;
  }
  /* Pause the animation on hover and play when not hovered */
  .outer_container:not(:hover) .inner_container,
  .outer_container:not(:hover) .inner_container2 {
    animation-play-state: running;
  }
  .outer_container:hover .inner_container,
  .outer_container:hover .inner_container2 {
    animation-play-state: paused;
  }
  @keyframes moveUp1 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  @keyframes moveUp2 {
    100% {
      transform: translateY(0);
    }
    0% {
      transform: translateY(-100%);
    }
  }
  .home_page_banner_img {
    width: 400px;
  }
  .home_page_banner_img1 {
    width: 400px;
  }