.dp_bannerads_main_heading {
  font-size: var(--section-main-heading);
  color: var(--secondary-color);
  font-weight: 600;
}

.dp_bannerads_main_heading_color {
  font-size: var(--section-main-heading);
  color: var(--primary-color);
  font-weight: 600;
}

.dp_bannerads_sub_heading {
  font-size: var(--section-heading);
  font-weight: 500;
}

.dp_bannerads_content {
  font-size: var(--section-content);
  font-weight: 500;
}

/*-------------card format(second section)-----------------*/
.sana_Solution_New_Cards_Box .sana_Solution_Cards {
  flex: 0 50%;
  background:  var(--tertiary-color);
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.7s;
}

.sana_Solution_New_Cards_Box .sana_Solution_Cards:hover {
  transition: transform 0.6s ease;
  cursor: pointer;
  transform: translateY(-5px);
  transition: 0.8s;
}

.rs_bg_color {
  background: linear-gradient(
    to right,
    var(--primary-color),
    rgb(223, 223, 225)
  );
}

.rs_card_block {
  background: black;
  padding: 30px;
  color: white;
  min-height: 350px;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.rs_card_block:hover {
  transform: translateY(-5px);
}

.rs_h1 {
  font-weight: 700;
}

.rs_img {
  align-items: center;
  color: var(--tertiary-color);
  height: 80px;
  justify-content: center;
  position: relative;
  width: 80px;
}

.rs_h_text {
  color:  var(--tertiary-color);
  font-size: var(--section-heading);
  padding: 10px 0px;
  border-bottom: 2px solid var(--primary-color);
}

.rs_h_card_border {
  border-bottom: 2px solid var(--primary-color);
  width: 150px;
  margin-top: 15px;
}

.rs_p_text {
  color:  var(--tertiary-color);
  margin-top: 10px;
  font-size: var(--section-content);
  font-style: normal;
}

.SSA_Btn_HOME_buytraffic {
  border: 1px solid var(--light-color);
  border-radius: 5px;
  font-weight: 600;
  font-size: 17px;
  color: var(--primary-color);
  background-color: var(--light-color);
}

.SSA_Btn_HOME_buytraffic:hover {
  border: 1px solid var(--light-color);
  border-radius: 5px;
  font-weight: 600;
  color: var(--primary-color);
  background-color: var(--light-color);
}

.gradient_signup {
  color: var(--secondary-color);
  padding: 17px 24px;
  border: 1px solid var(--secondary-color);
  background-size: 400% 400%;
  animation: gradientMovement 10s ease infinite;
}

.gradient_signup:hover {
  color: var(--light-color);
  background-color: var(--primary-color);
  border: 1px solid  var(--tertiary-color);
}

.gradient_signup2 {
  color: var(--light-color);
  padding: 17px 24px;
  border: 1px solid  var(--tertiary-color);
  background-size: 400% 400%;
  animation: gradientMovement 10s ease infinite;
}

.gradient_signup2:hover {
  color: var(--light-color);
  background-color: var(--primary-color);
  border: 1px solid  var(--tertiary-color);
}
.TiTick_setColor {
  background-color: var(--primary-color);
  border-radius: 50%;
}
.primary_color {
  color: var(--primary-color);
}
