.dp_bannerads_main_heading {
  font-size: var(--section-sub-heading);
  color: var(--secondary-color);
  font-weight: 600;
  /* line-height: 90px; */
}

.dp_bannerads_main_heading_color {
  font-size: var(--section-sub-heading);
  color: var(--primary-color);
  font-weight: 600;
}

.dp_bannerads_sub_heading {
  font-size: 18px;
  font-weight: 500;
  /* padding: 10px; */
}
@media screen and (max-width: 768px) {
  .dp_bannerads_sub_heading {
    font-size: 16px;
  }
}

.dp_bannerads_content {
  font-size: var(--section-content);
  font-weight: 400;
  font-size: 17px;
}
.dp_bannerads_content_1 {
  font-size: var(--section-content);
  font-weight: 800;
  font-size: 17px;
}
.sana_DisplayBanner_VoiletText {
  color: var(--primary-color);
}

/* .sana_DisplayBAnner_bgBlack {
  background-color: #333 !important;
} */
.sana_DisplayBanner_font_3rem {
  font-size: var(--section-main-heading);
  font-weight: 300;
}

.sana_DisplayBanner_font_18px {
  font-size: var(--section-content);
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.sana_DisplayBanner_card_borderwhite {
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 30px;
}

.sana_DisplayBanner_font_26px {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.sana_DisplayBanner_font_34px {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
}

.sana_DisplayBanner_font_22px {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.sana_DisplayBanner_heightCard_306px {
  height: 306px;
}

.sana_DISPLAYBANNER_CARD {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid transparent;
  border-radius: 16px;
}
.adv_bnft_bg {
  background-image: url(https://imagedelivery.net/f5tF3V4WaB6L98qcq1rX5w/892fb500-b550-497b-e58f-f3b793a60400/public);
  background-repeat: no-repeat;
  background-size: cover;
}

/*-------------card format(second section)-----------------*/

.sana_Solution_New_Cards_Box {
  flex: 1;
  flex-basis: 100px;
  height: 180px;
  background: #fff;
  margin: 1px;
  border-radius: 30px;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  overflow: hidden;
  transition: 0.7s;
}

@media screen and (min-width: 770px) and (max-width: 990px) {
  /* Your styles for this range */
  .sana_Solution_New_Cards_Box {
    flex: 1;
    flex-basis: 100px;
    height: 250px;
    /* padding: 10px; */
  }
}

.sana_Solution_New_Cards_Box .sana_Solution_Cards:hover {
  transition: transform 0.6s ease;
  cursor: pointer;
  transform: translateY(-5px);
  transition: 0.8s;
}

.sana_Solution_New_Cards_Box
  .sana_Solution_Cards:hover
  .sana_BannerDisplay_Card_Title
  h3,
.sana_Solution_New_Cards_Box
  .sana_Solution_Cards:hover
  .sana_BannerDisplay_Card_desc
  p {
  color: #fff;
}
.sana_Solution_New_Cards_Box
  .sana_Solution_Cards:hover
  .sana_BannerDisplay_Card_desc
  button {
  background: #fff !important;
  color: #73035b;
}

.sana_Solution_Cards .sana_BannerDisplay_Card_Title h3 {
  color: #212121;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
}

.sana_Solution_Cards .sana_BannerDisplay_Card_desc p {
  font-size: 15px;
}

.sana_hover_color_bubble {
  /* position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s; */
}

.sana_Solution_New_Cards_Box
  .sana_Solution_Cards:hover
  .sana_hover_color_bubble {
  top: 0rem;
}

/*--------------sadhana's css-----------------*/
.sana_theme {
  background-color: #73035b !important;
}

.sana_Add_formate_btns {
  background-color: #73035b;
  border-radius: 5px;
  color: #fff;
}

/* New Card Design */

.rs_bg_color {
  background: linear-gradient(
    to right,
    var(--primary-color),
    rgb(223, 223, 225)
  );
}

.rs_card_block {
  background: black;
  padding: 30px;
  color: white;
  min-height: 350px;
  height: 100%;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}

.rs_card_block:hover {
  transform: translateY(-5px);
}

.rs_h1 {
  font-weight: 700;
}

.rs_img {
  align-items: center;
  color: white;
  height: 80px;
  justify-content: center;
  position: relative;
  width: 80px;
}

.rs_h_text {
  color: rgb(255, 255, 255);
  font-size: var(--section-heading);
  padding: 10px 0px;
  border-bottom: 2px solid var(--primary-color);
}

.rs_h_card_border {
  border-bottom: 2px solid var(--primary-color);
  width: 150px;
  margin-top: 15px;
}

.rs_p_text {
  color: rgb(255, 255, 255);
  margin-top: 10px;
  font-size: var(--section-content);
  font-style: normal;
}

.SSA_Btn_HOME_buytraffic {
  color: var(--light-color);
  background-color: var(--primary-color);
  padding: 17px 24px !important;
  background-size: 400% 400%;
  border-radius: 5px;
}

.gradient_signup {
  color: var(--primary-color);
  padding: 17px 24px !important;
  border: 1px solid var(--primary-color) !important;
  background-size: 400% 400%;
  animation: gradientMovement 10s ease infinite;
}

.gradient_signup:hover {
  color: var(--light-color);
  background-color: var(--primary-color);
  border: 1px solid white !important;
}

/* ---------------------------------"" */

.gradient_signup2 {
  padding: 14px 24px !important;
  border: 1px solid white !important;
  animation: gradientMovement 10s ease infinite;
}

.gradient_signup2:hover {
  color: var(--light-color);
  background-color: var(--primary-color);
  border: 1px solid white !important;
}

@media (max-width: 768px) {
  .gradient_signup2 {
    padding: 15px 4px !important;
    text-align: center;
  }
}
