.dp_cpanetwork_main_heading {
  font-size: var(--section-main-heading);
  color: var(--secondary-color);
  font-weight: 600;
  line-height: 40px;
}
/* .rk_all_comp_welcome_img{
    max-width: 30rem;
    width: fit-content;
} */

.dp_cpanetwork_main_heading_color {
  font-size: var(--section-main-heading);
  color: var(--primary-color);
  font-weight: 600;
  line-height: 40px;
}

.dp_cpanetwork_main_sub_heading {
  font-size: var(--section-heading);
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .dp_cpanetwork_main_sub_heading {
    font-size: 15px;
  }
}
.dp_cpaNetwork_cards_content {
  font-size: var(--section-content);
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .rk_main_div_mob {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 1.5rem;
    /* padding: 0rem 1rem; */
  }
  .rk_main_div_mob_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rk_aboutus_div {
    margin-bottom: 2rem;
  }

  .rk_card_sprt_div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    flex-flow: column;
    height: 100%;
  }
  .dp_cpanetwork_opp_cards_underline {
    background: var(--primary-color);
    border-radius: var(--border-radius-large);
    height: 5px;
    /* margin: 30px; */
    margin-bottom: 30px;
    width: 60px;
  }
}

@media screen and (min-width: 768px) {
  .rk_card_sprt_div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    flex-flow: row;
  }

  .dp_cpanetwork_opp_cards_underline {
    background: var(--primary-color);
    border-radius: var(--border-radius-large);
    height: 5px;
    /* margin: 30px; */
    margin-bottom: 5px;
    width: 60px;
  }
}

.RegisterButton_cpa {
  margin: 0px 10px;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--tertiary-color);
  font-size: var(--section-big-content);
  width: 180px;
  padding: 10px 0px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.RegisterButton_cpa:hover {
  background-color: var(--tertiary-color);
  border: 1px solid var(--light-color);
  color: var(--secondary-color);
  cursor: pointer;
}



.dp_cpanetwork_socialmedia_bg {
  background-image: url("https://imagedelivery.net/f5tF3V4WaB6L98qcq1rX5w/f9f36bfc-9684-4a16-d928-1d1101fe0a00/public");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.dp_cpanetwork_exclusive_cards {
  border: 3px solid var(--light-color);
  background-color: var(--tertiary-color);
  border-radius: var(--border-radius-base);
  padding: 30px;
  /* min-height: 250px; */
  /* max-height: 250px; */
  /* height: 100%; */
  /* display: flexbox; */
  /* flex-wrap: nowrap; */
}

.dp_cpanetwork_exclusive_cards:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: transform 0.8s ease;
}

.dp_cpanetwork_icon_circle {
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  padding: 20px;
  border: 3px solid var(--light-color);
}

.dp_cpanetwork_icon_main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dp_cpanetwork_icon_circle:hover {
  scale: 1.1;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.dp_cpanetwork_keyfeatures_card {
  position: relative;
  border: 2px solid var(--light-color);
  background-color: #fff;
  border-radius: var(--border-radius-base);
  padding: 10px;
  margin-bottom: 20px;
  min-height: 260px;
  border-radius: var(--border-radius-base);
}

.dp_cpanetwork_keyfeatures_card:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: transform 0.8s ease;
}

.dp_cpanetwork_keyfeatures_card_image {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dp_cpanetwork_keyfeatures_card_title {
  font-size: var(--section-heading);
  padding: 10px 0px;
  margin: 0px;
  font-weight: 500;
}
