.dp_RtbTraffic_main_heading {
  font-size: var(--section-main-heading);
  color: var(--secondary-color);
  font-weight: 600;
  line-height: 40px;
}

.dp_RtbTraffic_main_heading_color {
  font-size: var(--section-main-heading);
  color: var(--primary-color);
  font-weight: 600;
  line-height: 40px;
}


.dp_RtbTraffic_sub_heading {
  font-size: var(--section-sub-heading);
  font-weight: 600;
}

.dp_RtbTraffic_sub_heading_color {
  font-size: var(--section-sub-heading);
  font-weight: 600;
  color: var(--primary-color);
}

.dp_RtbTraffic_content {
  font-size: var(--section-content);
  font-weight: 600;
}


.dp_RtbTraffic_heading {
  font-size: var(--section-heading);
  font-weight: 700;
}

.dp_rtbtraffic_card {
  background-color: var(--tertiary-color);
  border-radius: var(--border-radius-base);
  padding: 25px;
  border: 2px solid var(--light-color);
  min-height: 250px;
}

.dp_rtbtraffic_card:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: transform 0.8s ease;
}

.dp_RtbTraffic_RtbIntegration_bg{
  background-image: url("http://localhost:3000/Images/RtbIntegrationSteps.png");
  background-size: 100% 100%;
}





.rk_rtb_box_2_cont_txt {
  font-size: var(--section-heading);
}

.rk_rtb_box_2 {
  display: flex;
  justify-content: center;
}

.rk_rtb_box_3_icon1 {
  background-color: rgba(215, 185, 243, 0.42);
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 2rem;
  width: 80px;
  height: 80px;
}

.rk_rtb_box_3_col {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .rk_rtb_box_3_col {
    display: block;
  }

  .rk_rtb_mview_hidden_cont {
    display: none !important;
  }

  .rk_rtb_box_3_mview_1 {
    display: flex;
    padding: 15px;
  }

  .rk_rtb_box_align {
    display: flex;
    align-items: center;
  }

  .rk_rktb_box_3_dview-only {
    display: none;
  }

  .rk_rtb_work1 {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .rk_rtb_work1 {
    display: flex;
    justify-content: center;
  }

  .rk_rtb_box_align {
    display: flex;
    justify-content: center;
  }

  .rk_rtb_fs_mview_p {
    font-size: var(--section-heading);
  }

  .rk_rtb_box_3_mtext_2 {
    justify-content: center;
    text-align: center;
  }

  .rk_rtb_fs_mview_h {
    display: flex;
    justify-content: center;
  }

  .rk_rktb_box_3_mview_only {
    display: none;
  }

  .rk_rtb_box_4_arrow_main {
    position: relative;
  }

  .rk_rtb_box_4_arrow {
    position: absolute;
    left: 40%;
    bottom: 5%;
  }

  .rk_rtb_box_4_icon21 {
    display: flex;
    justify-content: end;
  }

  .rk_rtb_mview_comp {
    display: none !important;
  }
}

.rk_rtb_box_4_icon_4 {
  align-items: center;
  background: #fff;
  border-radius: 52px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.11);
  padding: 10px;
  height: 100px;
  width: 100px;
}

.rk_rktb_box_3_bg_1 {
  background-repeat: no-repeat;
  width: 100%;
  height: 640px;
  padding-top: 100px;
  background-color: var(--primary-color);
}

.rk_rtb_box_6_btn_icon {
  padding: 15px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--section-sub-heading);
  color: var(--tertiary-color);
  font-weight: 900;
}

.rk_rtb_box_6_bg_main {
  background-repeat: no-repeat;
}

.about_real_time_bidding {
  width: 400px;
  height: 240px;
  background-color: rgb(238, 226, 250);
  padding: 10px;
  padding-right: 20px;
  border-radius: var(--border-radius-large);
  margin-bottom: 40px;
}