* 
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.highlight_red 
{
    color:#71065d;
    font-size: 34px;
    font-weight: bold;
}





.span_gap 
{
    margin-left: 10px;
}

.subscribe_button 
{
    background-color:#71065d;
    color: #fff;

    pointer-events: none;
    font-size: 15px;
    padding: 15px 20px;
    border:none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.comment 
{
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.horizontal_line 
{
    border: 0;
    border-top: 1px solid;
    border-top: var(--bs-border-width) solid;
    color: inherit;
    margin: 1rem 0;
    opacity: .25;
}

.anchor_line 
{
    color: #8a8a8a;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.envelope 
{
    padding-top: 10px;
    text-align: center;
}



.arrow_img  
{
    width: 16px;
    margin-right: 10px;
}

.arrow_imgg 
{
    width: 250px;
    margin-right: 10px;
}

.border_right 
{
    border-left: 5px solid #71065d;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding: 0 0 0 12px;
}

.p_textt 
{
    font-size: 13px;
    font-weight:500;
}

.input_field:focus 
{
    outline: none;
    box-shadow: none;
    border-color: #000;
}