* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.highlight_red {
    color: var(--primary-color);
    font-size: var(--section-main-heading);
    font-size: var(--section-sub-heading);
    font-weight: var(--font-weight-bold);
    /* font-weight: bold; */
}

.span_gap {
    margin-left: 10px;
}

.p_text {
    font-size: var(--section-content);
    font-weight: 500;
}

.subscribe_button {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    pointer-events: none;
    font-size: var(--section-content);
    padding: 15px 20px;
    width: 200px;
    height: 50px;
    border: none;
    font-weight: var(--font-weight-normal);
    border-radius: 10px;
    cursor: pointer;
}

.comment {
    color: #8A8A8A;
    font-size: var(--section-content);
    font-weight: var(--font-weight-normal);
    line-height: 16px;
}

.horizontal_line {
    border: 0;
    border-top: 1px solid;
    border-top: var(--bs-border-width) solid;
    color: inherit;
    margin: 1rem 0;
    opacity: .25;
}

.anchor_line {
    color: #8A8A8A;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.envelope {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.arrow_img {
    width: 16px;
    margin-right: 100px;
}

.arrow_imgg {
    width: 250px;
    margin-right: 10px;
}

.border_right {
    border-left: 5px solid #71065D;
    font-size: var(--section-content);
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding: 0 0 0 12px;
}

.p_textt {
    font-size: var(--section-content);
    font-weight: var(--font-weight-normal);
}

.input_field:focus {
    outline: none;
    box-shadow: none;
    border-color: #000;
}