.AdvertisersContainer {
  border: 2px solid var(--light-color);
  margin: 10px 0px;
  padding: 50px;
  transition: transform 0.5s ease;
}

.AdvertisersContainerHeading {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  padding: 30px;
  margin: 0px;
  color: var(--primary-color);
}

.AdvertisersContainer:hover {
  transform: translateY(-5px);
}

.heading {
  font-weight: 600;
  margin: 0px;
}

.content {
  font-size: 17px;
  font-weight: 600;
  margin: 0px;
  color: var(--secondary-color);
  margin-top: 2rem;
}

.text_U_img {
  font-size: 14px;
  margin-top: 20px;
}

.LiveDemoButton:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
  cursor: pointer;
}

.LiveDemoButton {
  outline: none;
  border: none;
  background-color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
  color: var(--tertiary-color);
  transition: transform 0.3s ease;
  transform: scale(1);
  width: 200px;
  padding: 10px 0px;
}

.MoreButton {
  margin: 10px;
  outline: none;
  border: none;
  background-color: var(--secondary-color);
  font-size: 20px;
  font-weight: 600;
  color: var(--tertiary-color);
  transition: transform 0.3s ease;
  transform: scale(1);
  width: 200px;
  padding: 10px 0px;
}
.MoreButton:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--light-color);
  color: var(--light-color);
  cursor: pointer;
}

.MoreButton:hover .moreArrrow {
  transform: translateX(5px);
}
@media (max-width: 767px) {
  .LiveDemoButton,
  .MoreButton {
    width: 100%;
    /* margin-bottom: 10px; */
    margin: 10px;
  }
}
