* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rs_bg_color {
  background: linear-gradient(
    to right,
    var(--primary-color),
    rgb(223, 223, 225)
  );
}

.rs_card_block {
  background: black;
  color: white;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.rs_card_block:hover {
  transform: translateY(-5px);
}

.rs_h1 {
  font-weight: 700;
}

.rs_inner {
  display: flex;
  flex-direction: column;
  padding: 20px 32px;
}

.rs_img {
  align-items: center;
  color: white;
  height: 80px;
  justify-content: center;
  position: relative;
  width: 80px;
}

.rs_h_text {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.72px;
  line-height: normal;
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  z-index: 2;
  border-bottom: 2px solid var(--primary-color);
}

.rs_h_card_border {
  border-bottom: 2px solid var(--primary-color);
  width: 230px;
  margin-top: 15px;
  background-color: var(--primary-color);
}

.rs_p_text {
  color: rgb(255, 255, 255);
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 1rem;
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
}
.dp_whychoose_card_txt {
  font-size: var(--section-content);
  padding: 20px 0px;
}

.webcl_theme {
  color: var(--primary-color);
}
