/* .RtbContainer {
    background-color: rgba(238, 233, 244, 0.523);
} */

.RtbItems {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(149, 149, 149); */
}

@media (max-width: 768px) {
  .RtbItems {
    justify-content: center;
  }
}

.RtbCardsHeading {
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}

.JoinGrowXAdsSubHeading {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 30px;
  margin: 0px;
  color: var(--secondary-color);
}

.RTBContainerHeading {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  padding: 30px;
  margin: 0px;
  color: var(--primary-color);
}

.RtbBackgroundImage {
  background-image: url("https://imagedelivery.net/f5tF3V4WaB6L98qcq1rX5w/ea5468b6-1c82-47d8-4221-31ddd8f9dc00/public");
  background-repeat: no-repeat;
  background-size: cover;
}
.items__cards {
}
@media (max-width: 400px) {
  .items__cards {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center;
  }
  .items__cards > div {
    flex: 0 0 100%; /* Each item takes up full width */
    margin-bottom: 10px; /* Adjust margin as needed */
  }
}
/* // import { Button, Col, Container, Row } from "react-bootstrap";
// import { RtbMenu } from "../Shared/data/rtbMenu";
// import RtbStyles from "../../components/Home/HomeStyles/Rtb.module.css";
// import JoinGrowXAd from "./HomeStyles/JoinGrowXAd";
// import { FaArrowCircleRight } from "react-icons/fa";
// import TbSeperator from "../Shared/TbSeperator";

// const Rtb = (props) => {
//   return (
//     <Container fluid className={`${RtbStyles.RtbContainer} py-5`}>
//       <Container style={{ marginBottom: "4rem" }}>
//         <Row>
//           <Col md={12} className="d-flex justify-content-center">
//             <h1 className="text-center font-semibold text-black">
//               Real <span style={{ color: "#71065D" }}>Time</span> Bidding
//             </h1>
//           </Col>
//         </Row>
//       </Container>

//       <Container>
//         <Row>
//           <Col md={12} className="">
//             <div
//               className={RtbStyles.RtbBackgroundImage}
//               style={{ height: "500px" }}
//             ></div>
//           </Col>
//         </Row>
//       </Container>

//       <TbSeperator />
//       <TbSeperator />
//       <Container>
//         <Row>
         

//           <TbSeperator />

//           <Col md={12}>
//             <h1 className="text-center font-semibold text-black">
//               Well <span style={{ color: "#71065D" }}>Proven</span>Technology
//             </h1>
//           </Col>
          
//           <div className="row text-center justify-content-center">
//             {RtbMenu.map((item, index) => (
//               <div key={index} className="col-md-2">
//                 <div className="p-4"></div>
//                 <div className="d-flex flex-column align-items-center">
//                   <img
//                     src={item.imagePath}
//                     alt=""
//                     height={item.height}
//                     width={item.width}
//                   />
//                   <p className="mt-2">{item.title}</p>
//                 </div>
//               </div>
//             ))}
//           </div>

//           <Col md={12} className="d-flex justify-content-center py-5">
//             <Button className={`LiveDemoButton btn`}>
//               <div className="p-0 m-0">
//                 <div className="d-flex align-items-center justify-content-center">
//                   <span>Advertiser</span>
//                   <span className={`ps-3 `}>
//                     <FaArrowCircleRight />
//                   </span>
//                 </div>
//               </div>
//             </Button>
//             <Button className={`MoreButton btn`}>
//               <div className="p-0 m-0">
//                 <div className="d-flex align-items-center justify-content-center">
//                   <span>Publisher</span>
//                   <span className={`ps-3 `}>
//                     <FaArrowCircleRight />
//                   </span>
//                 </div>
//               </div>
//             </Button>
//           </Col>
//         </Row>
//       </Container>
//       <TbSeperator />

//       <Row>
//         <JoinGrowXAd />
//       </Row>
//     </Container>
//   );
// };

// export default Rtb; */
