.Svg__image {
  /* background-image: url("http://localhost:3001/Images/6_icon.png"); */
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
  justify-content: center;
}
