@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

* {
  --primary-color: #71065D;
  --secondary-color: #000;
  --tertiary-color: #fff;
  --light-color: #efefef;
  --border-radius-base: 1rem;
  --border-radius-large: 2rem;
  --section-main-heading: 2.5rem;
  --section-sub-heading: 2rem;
  --section-heading: 1.5rem;
  --section-content: 1.15rem;
  --section-button: 1.25rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  * {
    --top-banner-heading:2rem;
    --top-banner-content:1.25rem;
    --top-banner-button:1rem;
    --section-main-heading: 1.75rem; 
    --section-sub-heading: 1.25rem;
    --section-content: 0.875rem;
    --section-button: 1rem;
  }
}



.LiveDemoButton {
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color);
  font-size: var(--section-content);
  font-weight: 600;
  color: var(--tertiary-color);
  transition: transform 0.3s ease;
  width: 200px;
  padding: 2px;
}

.LiveDemoButton:hover {
  cursor: pointer;
  background-color:#660554;
  color: rgb(241, 239, 239);
}

.LiveDemoButton:hover .liveicon {
  transform: translateX(-7px);
  transition: transform 0.3s ease;
}

.MoreButton {
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: var(--secondary-color);
  margin: 0px 20px;
  font-size: var(--section-content);
  font-weight: 600;
  color: var(--tertiary-color);
  transition: transform 0.3s ease;
  width: 200px;
  padding: 15px 0px;
}

.MoreButton:hover {
  background-color: #1a1a1a;
  color: var(--light-color);
  cursor: pointer;
}

.MoreButton:hover .moreArrrow {
  transform: translateX(7px);
  transition: transform 0.3s ease;
}



/* New More button */

.MoreButton1 {
  outline: none;
  border: none;
  border-radius: 8px;
  margin: 0px 20px;
  color: #000;
  background-color: transparent;
  font-size: var(--section-content);
  font-weight: 600;
  transition: transform 0.3s ease;
  width: 200px;
  padding: 2px;
}

.MoreButton1:hover {
  cursor: pointer;
  background-color:#d4b4ce;
}

.MoreButton1:hover .moreArrrow {
  transform: translateX(7px);
  transition: transform 0.3s ease;
}

.gradient_Top {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}